POSTGRES_USER=shopscale
POSTGRES_PASSWORD=shopscale-dev-password
POSTGRES_DB=orderdb
KEYCLOAK_ADMIN=shopscale-admin
KEYCLOAK_ADMIN_PASSWORD=shopscale-admin-password
MONGO_HOST_PORT=27017
REDIS_HOST_PORT=6379
