POSTGRES_USER=shopscale
POSTGRES_PASSWORD=replace-with-strong-password
POSTGRES_DB=orderdb
KEYCLOAK_ADMIN=shopscale-admin
KEYCLOAK_ADMIN_PASSWORD=replace-with-strong-password
MONGO_HOST_PORT=27017
REDIS_HOST_PORT=6379
